html{
    height: 1020px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 4px;
    text-align: center;
}

#container{
    height: 100%;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

/* latin */
@font-face {
  font-family: 'Fontin-Sans-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Fontin/Fontin_Sans_B_45b.otf');
}
/* latin */
@font-face {
  font-family: 'Fontin-Sans-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Fontin/Fontin_Sans_R_45b.otf');
}


text{
        text-rendering: geometricPrecision;
}
